[
	# Default opts
	{"_", [
			type: :docker,
			depends: [],
		]
	},

	{
		"riak#vsn:~>2.0",
		[
			name: "riak-local",
			hooks: %{
				create: RTFA.Consul.Register,
				stop: RTFA.Consul.Deregister,
				delete: RTFA.Consul.Deregister,
			},
			runneropts: ["-m 4gb", "-ti"]
		]
	},

	{
		"/bin/bash",
		[
			name: "echo client",
			type: :shell,
			runneropts: ["/bin/bash -c 'echo hello'"],
			restart: false,
		]
	},

	{
		"/bin/bash",
		[
			name: "slow echo client",
			type: :shell,
			runneropts: ["/bin/bash -c 'sleep 5; echo hello'"],
			restart: false,
		]
	}
]
