*tcp-local.target       debian #type:spew, tag:jessie-dev
*tcp-local.service      tcp
*tcp-local.type         systemd
*tcp-local.$.mount      /cloud/tcp:/app:ro /share:/share:ro
*tcp-local.$.command    cd /app/; iex --name tcp-local -S mix
*tcp-local.$.tmpfs      /tmp /tmp2
*tcp-local.depends      service:riak service:redis
*tcp-local.restart      crash

*riak-local.target      riak # type: spew
*riak-local.type        systemd
*riak-local.$.tmpfs     /tmp /var/lib/riak
*riak-local.restart     crash

*redis-local.target     redis # type :spew
*redis-local.type       systemd
*redis-local.$.tmpfs    /tmp /var/lib/redis
*redis-local.restart    crash
