# format:
#	app.*.target    <type>#<target spec>
#	app.*.service   <service> | defaults to target
#	app.*.type      systemd | shell | void
#  app.*.command   [command]
#  app.*.depends   [target-spec1, .., target-specN]
#	app.*.mount     [mount1, .. mountN]
#	app.*.restart   [restart spec]
#	app.*.hook.*    [hookspec]
#	app.*.ports     [portspec1, .. portspecN]
#	app.*.network   [bridge:<bridge>]
#	app.*.tmpfs     [tmpfs1, .. tmpfs]

app.tcp-local.target       debian #type:spew, tag:jessie-dev
app.tcp-local.service      tcp
app.tcp-local.type         systemd
app.tcp-local.mount        ~/src/tm/cloud/tcp:/app:ro
app.tcp-local.command      cd /app/; iex --name tcp-local -S mix
app.tcp-local.tmpfs        /tmp
app.tcp-local.depends      service:riak service:redis service:influxdb
app.tcp-local.restart      crash

app.http-local.target      debian # type:spew, tag:jessie-dev
app.http-local.service     http
app.http-local.type        systemd
app.http-local.mount       ~/src/tm/cloud/tcp:/app:ro
app.http-local.command     cd /app/; iex --name http-local -S mix
app.http-local.tmpfs       /tmp
app.http-local.depends     service:riak service:redis service:influxdb
app.http-local.restart     crash

app.demeter-local.target   debian # type:spew, tag:jessie-dev
app.demeter-local.service  demeter
app.demeter-local.type     systemd
app.demeter-local.mount    ~/src/tm/cloud/demeter:/app:ro
app.demeter-local.command  cd /app/; iex --name demeter-local -S mix
app.demeter-local.tmpfs    /tmp
app.demeter-local.depends  service:riak service:redis
app.demeter-local.restart  crash

app.riak-local.target      riak # type: spew
app.riak-local.type        systemd
app.riak-local.tmpfs       /tmp /var/lib/riak
app.riak-local.restart     crash

app.redis-local.target     redis # type :spew
app.redis-local.type       systemd
app.redis-local.tmpfs      /tmp /var/lib/redis
app.redis-local.restart    crash

app.influxdb-local.target  influxdb#type : spew
app.influxdb-local.type    systemd
app.influxdb-local.tmpfs   /tmp /data
app.influxdb-local.restart crash
