[
	{
		"/bin/bash",
		[
			name: "echo client",
			type: :shell,
			runneropts: ["/bin/bash -c 'sleep 0.1; echo hello'"],
			restart: false,
		]
	},

	{
		"/bin/bash",
		[
			name: "slow echo client",
			type: :shell,
			runneropts: ["/bin/bash -c 'sleep 5; echo hello'"],
			restart: false,
		]
	},

	{
		"/non-executable",
		[
			name: "non-executable",
			type: :shell,
			runneropts: ["/non-executable"],
			restart: false
		]
	}
]
