# format:
#	app.*.target    <type>#<target spec>
#	app.*.service   <service> | defaults to target
#	app.*.type      systemd | shell | void
#  app.*.command   [command]
#  app.*.depends   [target-spec1, .., target-specN]
#	app.*.mount     [mount1, .. mountN]
#	app.*.restart   [restart spec]
#	app.*.hook.*    [hookspec]
#	app.*.ports     [portspec1, .. portspecN]
#	app.*.network   [bridge:<bridge>]
#	app.*.tmpfs     [tmpfs1, .. tmpfs]

*riak.target  riak#type:spew
*riak.type    systemd
*riak.$.tmpfs /tmp /var/lib/riak
*riak.restart crash

*redis.target    redis#type:spew
*redis.type      systemd
*redis.$.tmpfs   /tmp /var/lib/redis
*redis.$.command /run.sh
*redis.restart   crash

*influxdb.target  influxdb#type:spew
*influxdb.type    systemd
*influxdb.$.tmpfs /tmp /data
*influxdb.restart crash

#*app.target     debian#type:spew,tag:jessie-dev
#*app.type       systemd
#*app.$.mount    ~/src/tm/cloud/{{service}}:/app:ro
#*app.$.command  cd /app/; iex --name {{name}} -S mix
#*app.$.tmpfs    /tmp
#*app.depends    service:riak service:redis service:influxdb`
#*app.restart    crash

#tcp-local.derive     *app
#tcp-local.service    tcp
#tcp-local.depends    service:demeter service:riak service:redis service:influxdb`

#http-local.derive    *app
#http-local.service   http
#http-local.depends   service:demeter service:riak service:redis service:influxdb`

#demeter-local.derive  *app
#demeter-local.service demeter

#riak-local.derive  *riak
#redis-local.derive *redis
#influxdb.derive    *influxdb
