#sidebar {
	background: whitesmoke;
	margin-left: -15px;
	padding-left: 0px;
	float: left;
	position: relative;
	width: 16.7%;
}

#sidebar > * {
	margin-left: 15px;
}
	#sidebar .title {
		background: #eee;
		padding: 13px 15px;
		font-weight: bold;
		margin: 0px;
		border-bottom: 1px solid #e7e7e7;
	}

	#sidebar .nav {
		padding: 0;
		margin: 0;
	}

	#sidebar > .nav > li > a {
		font-weight: bold;
	}
	#sidebar .nav.nav-child > li > a {
		padding: 5px 15px 5px 30px;
		background: #eee;
	}

header.container-nav {
	background: #333;
}
	header.container-nav a {
		color: #bbb;
		border-bottom: 1px solid transparent;
	}

	header.container-nav li > a:hover {
		color: #555;
		border-bottom: 1px solid #e7e7e7;
	}

	header .logo {
		font-size: 20px;
		vertical-align: center;
		line-height: 20px;
		position: relative;
		display: block;
		padding : 5px 25px 5px 25px;
		margin: 10px 0;
		border-right: 1px solid #555; 
	}
	header .logo a { color: #ddd; }
	header .logo a:hover { text-decoration: none; color: #ccc; }


.breadcrumbs {
	padding: 15px 10px;
	border-bottom: 1px solid #eee;
	margin-bottom: 45px;
}
.breadcrumbs span { margin: 0 15px; color: #777; }
.breadcrumbs span:first-child { margin-left: 0; }
.breadcrumbs span a { margin-left: 5px; }



.builds .build {
	border-bottom: 1px solid #eee;
}
